.backOrangeTextGreen p:last-child {
  background: mediumvioletred;
  color: mediumseagreen;
  font-family: Georgia,Times,Times New Roman,serif;
  padding: 10px 0px;
}

.tiret p:last-child {
  border-top: 3px solid red;
}

.violet {
  background: violet;
}

.buttonColor td {
  background: #74a31c !important;
}

.text-hover:hover {
  color: red !important;
}

/* Outlook */
[owa] .mj-column-per-100 { width: 100% !important; }
[owa] .mj-column-per-50 { width: 50% !important; }
[owa] .mj-column-per-33 { width: 33.333% !important; }

