.nav-link {
  /* font-weight: lighter !important; */
  max-width: 26%;

  border-right: 1px solid #707070;
  text-align: center;
  line-height: 17px !important;
}
.nav-link:last-child {
  border-right: none;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.font-tahoma {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
/* règle pour zone click entière sur bouton
.button td {
  padding: 0 !important;
}
.button a {
  padding: 10px 80px;
  border: 2px solid #fd3d0e;
} */

/* align burger menu */
/* .mj-menu-trigger {
  text-align: right;
} */

.backOrangeTextGreen p:last-child {
  background: #c71585;
  color: mediumseagreen;
  font-family: Georgia,Times,Times New Roman,serif;
  padding: 10px 0px;
}

.tiret p:last-child {
  border-top: 3px solid red;
}

.violet {
  background: violet;
}

.buttonColor td {
  background: #74a31c !important;
}

/* .nav-link:hover {
  color: red !important;
} */

/* Extra small devices (phones, 600px and down) */


/* Outlook */
[owa] .mj-column-per-100 { width: 100% !important; }
[owa] .mj-column-per-50 { width: 50% !important; }
[owa] .mj-column-per-33 { width: 33.333% !important; }

