.backOrangeTextFire p:last-child {
  background: orange;
  color: firebrick;
}

.tiret p:last-child {
<<<<<<< HEAD
  border-top: 3px solid red;
=======
  border-top: 3px solid red; 
>>>>>>> b789491f7623b86dcf7ab1044ee5fe6a99202ec7
}

.violet {
  background: violet;
}

/* Outlook */
[owa] .mj-column-per-100 { width: 100% !important; }
[owa] .mj-column-per-50 { width: 50% !important; }
[owa] .mj-column-per-33 { width: 33.333% !important; }

